@{
    ViewData["Title"] = "Blog";
}
<!-- Blog content -->
<div class="container col-xl-10 col-xxl-8 px-4 py-1 blog-main-container">
    <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-12 text-center text-lg-start">
            <div class="d-flex align-items-center mb-3">
                <h1 class="display-4 fw-bold lh-1 text-body-emphasis col-lg-9 col-12">Začínam robiť webstránku na VAII</h1>
                <img src="/images/matus_fotka.jpg" alt="user photo" width="64" height="64" class="rounded-circle col-lg-3 ms-lg-3 blog-whoposted-img">
            </div>

            <p class="col-lg-12 fs-4 blog-body">
                Dnes som začal robiť web o blogovaní, kde sa používatelia môžu zaregistrovať a pridávať svoje blogy, ktoré budú vidieť ostatní. <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem sapiente quam vel deleniti temporibus magni praesentium voluptates perspiciatis laudantium vitae. Id provident laudantium dignissimos at quia? Vel ipsa id cumque.<br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit eaque suscipit repellat magnam, consequatur omnis aliquid voluptatum quasi culpa voluptate autem porro, dolorum atque voluptas cupiditate ut quisquam numquam nisi?<br>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde inventore, perferendis, non culpa laudantium tempore in fugit ea dolor nostrum ipsum accusantium qui eius neque eveniet voluptatibus, eos debitis incidunt?
            </p>
            <p class="user">Jozef Rechtorík</p>
        </div>
    </div>
    <a asp-action="Index" asp-controller="Home" class="btn btn-secondary rounded-pill px-3" role="button">Back</a>
</div>