@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model BlogApp.Models.AddBlogViewModel


<!-- Form -->
<div class="container mt-5 add-blog-form">
    <h2 class="mb-4">Add new blog</h2>
    <form method="post">
        <div class="mb-3">
            <label for="blogTitle" class="form-label">Title of the blog</label>
            <input type="text" class="form-control" id="blogTitle" asp-for="Title" required>
        </div>
        <div class="mb-3">
            <label for="blogText" class="form-label">Body of the blog</label>
            <textarea class="form-control" id="blogText" rows="5" asp-for="Body" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Add this blog</button>
    </form>
</div>
<script src="~/js/script.js"></script>
