@{
    ViewData["Title"] = "Edit Blog";
}

@model BlogApp.Models.Blog


<div class="container mt-5 add-blog-form">
    <h2 class="mb-4">Edit Blog</h2>
    <form id="editBlogForm" asp-action="Edit" method="post">
        <div class="mb-3">
            <label asp-for="Title" class="form-label"></label>
            <input id ="blogTitle" asp-for="Title" class="form-control" required />
        </div>
        <div class="mb-3">
            <label asp-for="Body" class="control-label"></label>
            <textarea id="blogBody" asp-for="Body" class="form-control" rows="10" required></textarea>
        </div>
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-primary">Save</button>
        <a onclick="Back()" class="btn btn-secondary">Cancel</a>
    </form>
</div>

<script>
    document.getElementById("editBlogForm").onsubmit = function (event) {
        let title = document.getElementById("blogTitle").value;
        let body = document.getElementById("blogText").value;

        if (title === "" || body === "") {
            alert("Please fill in all fields.");
            event.preventDefault();
        }
    }
</script>